form {
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    border: 2px solid red;
    display: none;
}
form input {
    margin-top: 10px;
    margin-bottom: 25px;
}
img {
    width: 50px;
    position: relative;
    left: 70%
}